<section class="bg-center pb-10">
    <p class="text-[#eee] text-center"> 
        <span class="text-[#eee]">© 2023</span> 
        <a href="https://www.linkedin.com/in/alexandre-ferreira-1b1b0a1b0/" class="text-[#eee] hover:text-[#fff]">Alexandre Ferreira</a>
    </p>
  </section>