<section class=" h-screen bg-center">
    <h2 class="text-center text-xl text-primary">Projects</h2>
    <div class="grid">
        <article>
            <img src="https://picsum.photos/200/300" alt="">
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </article>
    </div>
</section>