<section class="bg-center pb-10">
    <h2 id="contact" class="text-center text-4xl text-primary pb-5">Contact</h2>
    <p class="text-[#EEEEEE] p-2">
        No dude en contactarme para cualquier consulta o duda que tenga, estaré encantado de atenderle.
    </p>
    <ContactForm />
</section>